<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>

<style>
    a{
        position: absolute;
        right: 600px;
        top: 200px;
        font-family: sans-serif;
        font-size: 20pt;
        text-decoration: none;
        color: #ffffff;
        background-color: #000000;
        padding: 10px;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<body>
    <a href="{% url 'Main:Home' %}">ADD</a>
</body>
</html>